@use './mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: 500;
  font-family: 'Montserrat Alternates', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

:root {
  --black: #000;
  --davis-grey: #4D4D4D;
  --pewter-blue: #81ADC8;
  --vermillion: #CD4631;
  --champagne: #F7EDE8;
  --alice-blue: #EDF3F7;
}