@use '../utilities/mixins' as *;

.nv-navbar {
  @include grid-container;
  position: relative;
  z-index: 999;
  margin-top: 24px;
  height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    align-items: center;

    li {
      display: contents;
    }
  }

  .navlink-list {
    gap: 60px;
    margin-left: -90.5px;
  }

  .navlink {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
  }

  .ctalink-list {
    gap: 20px;
  }

  .ctalink{
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;

    &.primary {
      background-color: var(--black);
      color: var(--white);
    }

    &.secondary{
      border: 2px solid var(--black);
    }
  }

}